.transbox-header {
    text-align: center;
    margin-top: 35px;
}
.container {
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    color:
    margin: 0 auto;
    padding: 50px;

}
