
.transbox-header {
    text-align: center;
    margin-top: 400px ;
    font-family: Helvetica;
    margin-left: 52px;
    margin-right: 52px;
    font-size: 44px;
    padding: 60px 40px 60px 40px;
    width:1122px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    

}
header {
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    margin: 50px;
    padding: 100px;
    height:450px;
    background-color:rgb(233, 218, 218, 0.6);
    border-radius: 25px;
    
}
/* columns */
.row {
   text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    padding: 40px;
    height: 130px;
    width: 1250px;
    background-color:rgb(233, 218, 218, 0.6);
    border-radius: 0px;
        
}
body {
    background-image: linear-gradient(rgba(122, 111, 111, 0),
     rgba(255, 255, 255, 0.55)), url("WelshBackground.jpg");
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
  }
.btn {
    display: block;
    position: relative;
    text-align: center;
}
.fa {
    padding: 20px;
    margin: 6px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}

.fa:hover {
    opacity: 0.6;
}
* {box-sizing:border-box}

